.money {
  height: 60vh;
  background-image: url("https://i.imgur.com/MXHkTka.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

.container {
  padding: 15px;
}

.cashing {
  transform: translateY(-100vh);
  transition: all 500ms ease-in-out;
}

.info {
  padding: 15px;
}