.header {
  background-color: cornflowerblue;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
  overflow: auto;
}

.navcontainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  vertical-align: center;
  text-align: center;
}

.navitem {
  display: inline;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 5px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.menu-button {
  cursor: pointer;
  float: left;
  color: white;
}

.money-button {
  cursor: pointer;
  float: right;
}

.money-button a {
  text-decoration: none;
  color: #FFF;
}
