.container {
  max-width: 980px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.sidebar {
  height: 100%;
  width: 75vw;
  padding: 10px 15px;
  color: white;
  background-color: rgba(29, 102, 166, 0.726);
  text-align: center;
}

.sidebar b{
  padding-bottom: 5px;
  display: block;
}

.sidebar a {
  margin-top: 5px;
  padding: 5px 0;
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar a:hover{
  background-color: rgb(22, 86, 170);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  .sidebar {
    width: 75vw;
  }
}
