.container {
  max-width: 980px;
  text-align: center;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.sidebar {
  height: 100%;
  width: 50vw;
  padding: 10px 15px;
  color: white;
  background-color: #222;
  text-align: center;
}

.sidebar b{
  padding-bottom: 5px;
  display: block;
}
.sidebar a {
  padding: 6px 0;
  display: block;
  text-decoration: none;
  color: white;
  font: 200;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  .sidebar {
    width: 75vw;
  }
}
